body {
    background-image: url(../images/WhatsApp\ Image\ 2026-02-13\ at\ 21.43.24.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    font-family: 'Pinyon Script',tapestry;
    text-align: center;
    margin-top: 20px;
    background-color: #004a23;
    color: #fefffe;
    padding: 10px;
    text-decoration:underline;
}
button{
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-image: url(../images/WhatsApp\ Image\ 2026-02-13\ at\ 21.37.44.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #faf7f7;
    text-align: center;
   
}
iframe{
    border-radius: 30px 100px 30px 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}